@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'); 
}
  
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2'); 
}
  
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v47-latin-700.woff2') format('woff2');
}


/* @font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'); 
  } */

@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'); 
}

:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --color-accent: #2B7FFF;
    --color-background-dark: #011F4A;
    --color-button: #FAF4EA;
    --color-accent-text: #747272;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 1.2;
    color: var(--color-primary-dark );
    background-color: var(--color-background-light );
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.header-link {
    color: var(--color-primary-dark );
}

.header-link:hover {
    color: var(--color-accent );
    font-weight: 700;
}

.hero-title {
    font-family: 'Play', sans-serif;
    color: var(--color-accent );
    font-weight: 700;
    font-size: 140px;
}

.hero-button {
    font-weight: 600;
    color: var(--color-button );
    background-color: var(--color-accent );
    border: 2px solid var(--color-accent );
    border-radius: 32px;
}

.hero-button:hover {
    color: var(--color-accent );
    background-color: transparent;
}

.hero-text {
    font-size: 12px;
    line-height: 1.5;
}

.section-title {
    font-family: 'Play', sans-serif;
    color: var(--color-primary-dark );
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
}

.accent {
    color: var(--color-accent );
}

.about-text {
    font-size: 22px;
    line-height: 1.7;
}

.accent-bold {
    font-weight: 600;
}

.why-text {
    line-height: 1.33;
}

.form-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1;
    color: var(--color-primary-light );
}

.form {
    background-color: var(--color-background-dark );
}

.form-button {
    font-weight: 600;
    color: var(--color-primary-light );
    background-color: var(--color-accent );
    border: 2px solid var(--color-accent );
    border-radius: 24px;
}

.form-button:hover {
    background-color: transparent;
}

.form-text {
    color: var(--color-accent-text );
    font-size: 12px;
    line-height: 1.5;
}

.footer {
    background-color: var(--color-primary-dark );
}

.footer-link {
    color: var(--color-primary-light );
    font-size: 16px;
    line-height: 1.1;
}

.address-link {
    color: var(--color-primary-light );
    font-size: 16px;
    line-height: 1.1;
    font-style: normal;
}

.footer-text {
    color: var(--color-accent-text );
    font-size: 13px;
    line-height: 1.15;
    font-style: normal;
}