@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2'); 
}
  
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2'); 
}
  
@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v47-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'); 
}

:root {
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --color-accent: #2B7FFF;
    --color-background-dark: #011F4A;
    --color-button: #FAF4EA;
    --color-accent-text: #747272;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    line-height: 1.2;
    color: var(--color-primary-dark );
    background-color: var(--color-background-light );
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 32px 0;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 56px;
    flex-grow: 1;
    justify-content: center;
}

.header-contacts-list {
    display: flex;
    gap: 32px;
    flex-grow: 1;
    justify-content: center;
}

.header-link {
    color: var(--color-primary-dark );
    fill: var(--color-primary-dark );
}

.header-link:hover {
    color: var(--color-accent );
    /* font-weight: 700; */
    fill: var(--color-accent );
}

.section {
    padding: 48px 0;
} 

.hero {
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-container {
    max-width: 528px;
    margin-left: 120px;
    padding-top: 16px;
}

.hero-title {
    font-family: 'Play', sans-serif;
    color: var(--color-accent );
    font-weight: 700;
    font-size: 140px;
    line-height: 0.8;
    margin-bottom: 40px;
}

.hero-button {
    padding: 16px 32px;
    font-weight: 600;
    color: var(--color-button );
    background-color: var(--color-accent );
    border: 2px solid var(--color-accent );
    border-radius: 32px;
    margin-bottom: 14px;
}

.hero-button:hover {
    color: var(--color-accent );
    background-color: transparent;
}

.hero-first-text {
    margin-bottom: 16px;
}

.hero-text {
    font-size: 12px;
    line-height: 1.5;
    max-width: 238px;
    text-align: center;
}

.section-title {
    margin-bottom: 48px;
    font-family: 'Play', sans-serif;
    color: var(--color-primary-dark );
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
}

.accent {
    color: var(--color-accent );
}

.about-container {
    display: flex;
    gap: 32px;
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 648px;
    gap: 40px;
}

.about-title {
    max-width: 528px;
    margin-bottom: 0;
}

.about-text {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 0;
}

.about-img {
    border-radius: 400px 400px;
    max-width: 327px;
    box-shadow: 0px 4px 4px 0px #A8C6F533;
}

.accent-bold {
    font-weight: 600;
}

.why-title {
    text-align: center;
}

.why-text {
    line-height: 1.33;
    margin-bottom: 0;
}

.why-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 56px;
}

.why-card {
    max-width: 316px;
    padding: 24px 32px;
    border: 1px solid black;
    border-radius: 32px;
}

.why-icon {
    fill: var(--color-accent );
}
.procedures-title {
    text-align: center;
}

.procedures-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-background-dark );
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-background-dark );
}

.procedures-button:hover {
    background-color: var(--color-accent );
    fill: var(--color-primary-light );
}

.procedures-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.procedures-article {
    width: 344px;
    height: 456px;
    border-radius: 4px 120px 4px 120px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.procedures-article::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%);
    border-radius: inherit;
}

.procedure-mask {
    background-image: url("../images/mask.jpg");
}

.procedure-botox {
    background-image: url("../images/botox.jpg");
}

.procedure-cleaning {
    background-image: url("../images/cleaning.jpg");
}

.contacts-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.contacts-title {
    text-align: center;
}

.form-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1;
    color: var(--color-primary-light );
}

.form {
    background-color: var(--color-background-dark );
}

.form-button {
    padding: 16px 32px;
    font-weight: 600;
    color: var(--color-primary-light );
    background-color: var(--color-accent );
    border: 2px solid var(--color-accent );
    border-radius: 24px;
}

.form-button:hover {
    background-color: transparent;
}

.form-text {
    color: var(--color-accent-text );
    font-size: 12px;
    line-height: 1.5;
}

.footer {
    background-color: var(--color-primary-dark );
}

.footer-link {
    color: var(--color-primary-light );
    font-size: 16px;
    line-height: 1.1;
}

.footer-link:hover {
    color: var(--color-accent );
}

.address-link {
    color: var(--color-primary-light );
    font-size: 16px;
    line-height: 1.1;
    font-style: normal;
}

.address-link:hover {
    color: var(--color-accent );
}

.footer-text {
    color: var(--color-accent-text );
    font-size: 13px;
    line-height: 1.15;
    font-style: normal;
}

.address-icon {
    fill: var(--color-primary-light );
}

.address-icon:hover {
    fill: var(--color-accent );
}